<template>
  <div class="center">
    <b-card bg-variant="light" style="max-width: 540px">
      <b-form
        @submit.prevent="Signup"
        method="POST"
        label-cols-lg="3"
        label="Sign Up"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
        <!-- for name -->
        <b-form-group
          id="input-group-1"
          label="Name:"
          label-for="input-1"
          description="Must be your Full Name"
        >
          <b-form-input
            id="input-1"
            v-model="name"
            placeholder="Enter Your Name"
            required
          >
          </b-form-input>
        </b-form-group>

        <!-- for email -->
        <b-form-group
          id="input-group-2"
          label="Email address:"
          label-for="input-2"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-2"
            v-model="email"
            type="email"
            placeholder="Enter email"
            required
          >
          </b-form-input>
        </b-form-group>

        <!-- for password -->
        <b-form-group id="input-group-3" label="Password:" label-for="input-3">
          <b-form-input
            id="text-passsowrd"
            v-model="password"
            type="password"
            placeholder="Enter password"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-button style="margin-right: 10px" type="submit" variant="primary"
          >Submit</b-button
        >
        <b-button variant="outline-secondary" to="/signin">Signin</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  data() {
    return {
      name: "",
      email: "",
      password: "",
    };
  },
  methods: {
    Signup() {
      this.$apollo
        .mutate({
          // Query
          mutation: gql`
            mutation($name: String!, $email: String!, $password: String!) {
              createBidder(
                name: $name
                authProvider: {
                  credentials: { email: $email, password: $password }
                }
              ) {
                name
                id
              }
            }
          `,
          // Parameters
          variables: {
            name: this.name,
            email: this.email,
            password: this.password,
          },
        })
        .then((data) => {
          // Result
          this.$notify({
            title: "Registration Successful",
            text: "You have successfully create a account!",
            type: "success",
          });
          this.$router.push("/signin");
          console.log(data);
        })
        .catch((error) => {
          // Error
          this.$notify({
            title: "Registration Denied!",
            text: "You input invalid credentials",
            type: "error",
          });
          console.error(error);
          // We restore the initial user input
        });
    },
  },
};
</script>

<style scoped>
.center {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 50px;
}
</style>
>
