<template>
  <div class="center">
    <!-- <ApolloMutation
    :mutation= "require('../auth/signin.gql')"
    :variables="{email, password}"
    @done="onDone"
  >

  <template v-slot="{mutate}"> -->

    <b-card bg-variant="light" style="max-width: 540px">
      <b-form
        v-on:submit.prevent="Signin"
        method="POST"
        label-cols-lg="3"
        label="Sign Up"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
        <!-- for email -->
        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="email"
            type="email"
            placeholder="Enter email"
            required
          >
          </b-form-input>
        </b-form-group>

        <!-- for password -->
        <b-form-group id="input-group-2" label="Password:" label-for="input-2">
          <b-form-input
            id="text-passsowrd"
            v-model="password"
            type="password"
            placeholder="Enter password"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-button style="margin-right: 10px" type="submit" variant="primary"
          >Signin</b-button
        >

        <b-button variant="outline-secondary" to="/signup">Signup</b-button>
      </b-form>
    </b-card>
    <!-- </template>
  </ApolloMutation> -->
  </div>
</template>

<script>
import gql from "graphql-tag";
import { onLogin } from "@/vue-apollo.js";

export default {
  data() {
    return {
      email: "",
      password: "",
    };
  },
  created() {
    this.checkSignedIn();
  },
  updated() {
    this.checkSignedIn();
  },
  methods: {
    //  onDone() {
    //    alert('Worker')
    //  }
    Signin() {
      this.$apollo
        .mutate({
          // Query
          mutation: gql`
            mutation($email: String!, $password: String!) {
              signinUser(credentials: { email: $email, password: $password }) {
                token
                bidder {
                  admin
                  id
                }
              }
            }
          `,
          // Parameters
          variables: {
            email: this.email,
            password: this.password,
          },
        })
        .then((data) => {
          // Result
          console.log(data);
          onLogin(
            this.$apollo.provider.defaultClient,
            data.data.signinUser.token,
            data.data.signinUser.bidder.admin,
            data.data.signinUser.bidder.id
          );
          this.$notify({
            title: "Signin Succesffully",
            text: "You have successfully signed in!",
            type: "success",
          });
          this.$forceUpdate(data);
        })
        .catch((error) => {
          // Error
          this.$notify({
            title: "Signin Error",
            text: "Either your email or pasword is incorrect",
            type: "error",
          });
          console.error(error);
          // We restore the initial user input
        });
    },
    checkSignedIn() {
      if (localStorage.signedIn == "true") {
        this.$router.push("/");
      }
    },
  },
};
</script>

<style scoped>
.center {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 50px;
  margin-top: 50px;
}
</style>
>
