<template>
  <b-container fluid="lg">
    <b-row>
      <b-col>1 of 3</b-col>
      <b-col>2 of 3</b-col>
      <b-col>3 of 3</b-col>
    </b-row>
  </b-container>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "Home",
  props: {
    msg: String,
  },
  data() {
    return {
      bidder: null,
    };
  },
  apollo: {
    bidder: gql`
      query {
        bidder(id: 5) {
          name
          email
        }
      }
    `,
  },
};
</script>

<style></style>
