<template>
  <div class="center">
    <!-- for product view -->
    <b-card
      img-src="https://picsum.photos/600/300/?image=25"
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 40rem"
      class="mb-2"
    >
      <template #header>
        <h4 class="mb-0">
          <h1>{{ product.name }}</h1>
        </h4>
      </template>

      <b-list-group flush>
        <b-list-group-item>
          <b-card-text>
            <strong> Description: </strong>
            {{ product.description }}
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item
          ><h6>
            <strong>Starting Bid: </strong>Php {{ product.startBid }}
          </h6></b-list-group-item
        >
        <b-list-group-item
          ><h6>
            <strong>Bid Before:</strong
            >{{ moment(product.bidExpire).format("YYYY-MM-DD") }}
          </h6></b-list-group-item
        >
      </b-list-group>
    </b-card>

    <b-card bg-variant="light" style="max-width: 40rem">
      <b-form
        @submit.prevent="addBid"
        method="POST"
        label-cols-lg="3"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
        <!-- for bid -->
        <b-form-group id="input-group-1" label-for="input-1"
          ><h4><strong>Your Bid:</strong></h4>
          <b-form-input
            id="input-1"
            v-model="yourBid"
            type="number"
            placeholder="Enter Bid Here"
            required
          >
          </b-form-input>
        </b-form-group>

        <b-button style="margin-right: 10px" type="submit" variant="primary"
          >Bid</b-button
        >

        <b-button variant="danger" to="/products">Cancel</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "AuctionCreate",
  data() {
    return {
      product: [],
      auction: this.auctionObject(),
      yourBid: "",
      bidder: localStorage.getItem("id"),
    };
  },
  props: ["id"],
  methods: {
    addBid(e) {
      this.$apollo
        .mutate({
          // Query
          mutation: gql`
            mutation($yourBid: String!, $productId: ID!, $bidderId: ID!) {
              createAuction(
                yourBid: $yourBid
                productId: $productId
                bidderId: $bidderId
              ) {
                id
                yourBid
                product {
                  id
                  name
                  description
                }
                auctionBy {
                  name
                  email
                }
              }
            }
          `,
          // Parameters
          variables: {
            yourBid: this.yourBid,
            productId: this.$route.params.id,
            bidderId: localStorage.getItem("id"),
          },
        })
        .then((data) => {
          this.$router.push(data.data);
          this.$router.push("/bidding/" + localStorage.getItem("id"));
          this.$notify({
            title: "Bidding Successful",
            text: "Your bid is in! <br> I hope you win, Goodluck!",
            type: "success",
          });
          console.log(data);
        })
        .catch((error) => {
          // Error
          this.$notify({
            title: "Bidding Unsuccessfully",
            text: "Try to input right amount",
            type: "error",
          });
          console.error(error);
        });
      e.preventDefault();
    },
    auctionObject() {
      return {
        bidder_id: localStorage.getItem("id"),
        product_id: this.$route.params.id,
      };
    },
  },
  apollo: {
    product: {
      query: gql`
        query($id: ID!) {
          product(id: $id) {
            id
            name
            minBid
            startBid
            description
            bidExpire
          }
        }
      `,
      variables() {
        return {
          id: this.$route.params.id,
          name: this.name,
          minBid: this.minBid,
          startBid: this.startBid,
          description: this.description,
          bidExpire: this.bid,
        };
      },
    },
  },
};
</script>

<style scoped>
.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
}
</style>
