<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="/">Auction</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <!-- Not Signed in -->
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-navbar-nav right v-if="!signedIn()">
            <b-nav-item href="/signup">Signup</b-nav-item>
            <b-nav-item href="/signin">Signin</b-nav-item>
          </b-navbar-nav>

          <!-- Signed in as a admin -->
          <b-nav-item-dropdown right v-if="signedInAdmin()">
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>Product</em>
            </template>
            <b-dropdown-item to="/">List of Product</b-dropdown-item>
            <b-dropdown-item to="/createproduct"
              >Create Product</b-dropdown-item
            >
          </b-nav-item-dropdown>
          <b-nav-item-dropdown right v-if="signedInAdmin()">
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>Welcome Admin!</em>
            </template>
            <b-dropdown-item href="#" @click.prevent="logout"
              >Sign Out</b-dropdown-item
            >
          </b-nav-item-dropdown>

          <!-- SignedIn as a Bidder -->
          <b-nav-item href="/products" v-if="signedInUser()"
            >Products</b-nav-item
          >
          <b-nav-item-dropdown right v-if="signedInUser()">
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>Welcome bidder!</em>
            </template>

            <b-dropdown-item :to="biddingDetails">Profile</b-dropdown-item>
            <b-dropdown-item :to="biddingEdit">Edit Profile</b-dropdown-item>
            <b-dropdown-item href="#" @click.prevent="logout"
              >Sign Out</b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
import { onLogout } from "@/vue-apollo.js";

export default {
  name: "Header",
  data() {
    return {};
  },
  created() {
    this.signedIn();
  },
  computed: {
    biddingDetails() {
      return "/bidding/" + localStorage.getItem("id");
    },
    biddingEdit() {
      return "/bidding/" + localStorage.getItem("id") + "/edit";
    },
  },
  methods: {
    logout() {
      onLogout(this.$apollo.provider.defaultClient);
      this.$notify({
        title: "Logout",
        text: "You have successfully Logged out",
        type: "success",
      });
      this.$forceUpdate();
      this.$router.push("/signin");
    },
    signedIn() {
      return localStorage.signedIn;
    },
    signedInUser() {
      if (localStorage.admin == "false" && localStorage.signedIn) {
        return true;
      }
      return false;
    },
    signedInAdmin() {
      return localStorage.admin == "true" && localStorage.signedIn;
    },
  },
};
</script>
