<template>
  <div>
    <b-carousel
      class="name"
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-height="auto"
      img-width="auto"
      style="text-shadow: 1px 1px 2px #333"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        caption="Welcome to Auction"
        text="Auctions Beyond Actions"
        img-src="@/assets/3.jpg"
        style="height: 100%; width: 100%; object-fit: contain"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide
        img-src="@/assets/3.jpg"
        style="height: 100%; width: 100%; object-fit: cover"
      >
        <h1>Auction Won, Dreams Go On</h1>
      </b-carousel-slide>

      <!-- Slides with image only -->

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->

      <!-- Slide with blank fluid image to maintain slide aspect ratio -->
    </b-carousel>
  </div>
</template>

<script>
export default {
  name: "Carousel",
  data() {
    return {
      slide: 0,
      sliding: null,
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
      return slide;
    },
    onSlideEnd(slide) {
      this.sliding = false;
      return slide;
    },
  },
};
</script>

<style scoped></style>
