<template>
  <div class="center">
    <b-card bg-variant="light" style="max-width: 540px">
      <h3 align="center">Update Your Account</h3>
      <b-form
        v-on:submit.prevent="editBidder"
        method="POST"
        label-cols-lg="3"
        label="Sign Up"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
        <!-- for name -->
        <b-form-group id="input-group-1" label="Name:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="name"
            type="text"
            placeholder="Enter your full name"
          >
          </b-form-input>
        </b-form-group>

        <!-- for email -->
        <b-form-group id="input-group-2" label="Email: " label-for="input-2">
          <b-form-input
            v-model="email"
            type="email"
            placeholder="Enter your email"
          >
          </b-form-input>
        </b-form-group>

        <!-- for password -->
        <b-form-group id="input-group-3" label="Password: " label-for="input-3">
          <b-form-input
            v-model="password"
            type="password"
            description="EnEnter you password"
          >
          </b-form-input>
        </b-form-group>

        <b-button style="margin-right: 10px" type="submit" variant="primary"
          >Edit</b-button
        >

        <b-button variant="outline-danger" to="/products">Cancel</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "EditBidder",
  data() {
    return {
      name: "",
      email: "",
      password: "",
    };
  },
  apollo: {
    // Advanced query with parameters
    // The 'variables' method is watched by vue
    product: {
      query: gql`
        query($id: ID!) {
          bidder(id: $id) {
            id
            name
            email
          }
        }
      `,
      variables() {
        if (this.$route && this.$route.params)
          return {
            id: localStorage.getItem("id"),
          };
      },

      // Optional result hook
      result({ data }) {
        console.log(data);
        this.name = data.bidder.name;
        this.email = data.bidder.email;
      },
      // Error handling
      error(error) {
        console.error("We've got an error!", error);
      },
    },
  },
  methods: {
    editBidder() {
      this.$apollo
        .mutate({
          // Query
          mutation: gql`
            mutation(
              $id: ID!
              $name: String!
              $email: String!
              $password: String!
            ) {
              updateProduct(
                id: $id
                name: $name
                email: $email
                password: $password
              ) {
                bidder {
                  id
                  name
                  email
                  passwordDigest
                }
              }
            }
          `,
          // Parameters
          variables: {
            id: localStorage.getItem("id"),
            name: this.name,
            email: this.email,
            password: this.passwordDigest,
          },
        })
        .then((data) => {
          // Result
          this.$router.push(`/bidding/${localStorage.getItem("id")}`);
          console.log(data);
          this.$notify({
            title: "Update",
            text: "You have successfully updated your account",
            type: "success",
          });
        })
        .catch((error) => {
          // Error
          this.$notify({
            title: "Update",
            text: "Something went wrong! Please try again",
            type: "error",
          });
          console.error(error);
          // We restore the initial user input
        });
    },
  },
};
</script>

<style scoped>
.center {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
