<template>
  <div class="center">
    <b-card
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 60rem; min-width: 20rem"
      class="mb-1"
    >
      <template #header>
        <h4 align="center" class="mb-0">
          <h1>{{ bidder.name }}</h1>
        </h4>
      </template>

      <b-list-group-item>
        <b-card-text>
          <strong> Email: </strong>
          {{ bidder.email }}
        </b-card-text>
      </b-list-group-item>
    </b-card>
    <br />
    <br />
    <b-card
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 100rem min-width: 20rem;"
      class="mb-1"
    >
      <template #header>
        <h4 align="center" class="mb-0">
          <h3>Products that you have a Bidding</h3>
        </h4>
      </template>
      <b-table-simple responsive>
        <b-thead>
          <b-tr>
            <b-th>Products</b-th>
            <b-th>description</b-th>
            <b-th>Status</b-th>
            <b-th>Your Bid</b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr
            v-for="bidder in bidder.auctions"
            :key="bidder.id"
            :id="bidder.id"
            :name="bidder.product.name"
            :description="bidder.product.description"
            :status="bidder.product.status"
            :yourBid="bidder.yourBid"
            :winner="bidder"
          >
            <b-td>{{ bidder.product.name }}</b-td>
            <b-td>{{ bidder.product.description }}</b-td>
            <b-td v-if="bidder.product.status === 'In-Progress'"
              ><b-badge variant="warning">{{
                bidder.product.status
              }}</b-badge></b-td
            >
            <b-td v-if="bidder.product.status === 'Finish Bidding'"
              ><b-badge variant="danger">{{
                bidder.product.status
              }}</b-badge></b-td
            >
            <b-td><strong>₱ </strong>{{ bidder.yourBid }}</b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-card>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "BidderDetails",
  data() {
    return {
      bidder: {},
    };
  },
  props: ["id"],
  methods: {
    userid() {
      this.$route.params.id;
    },
    signedIn() {
      return localStorage.signedIn;
    },
    signedInUser() {
      return localStorage.admin == "false" && localStorage.signedIn;
    },
    signedInAdmin() {
      return localStorage.admin == "true" && localStorage.signedIn;
    },
  },

  apollo: {
    bidder: {
      query: gql`
        query($id: ID!) {
          bidder(id: $id) {
            id
            name
            email
            winner
            auctions {
              yourBid
              product {
                name
                description
                status
              }
            }
          }
        }
      `,
      variables() {
        return {
          id: localStorage.getItem("id"),
          name: this.name,
          email: this.email,
          auctions: this.yourBid,
        };
      },
      result({ data }) {
        console.log(data);
      },
    },
  },
};
</script>

<style scoped>
.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
}
</style>
