<template>
  <div class="center">
    <b-card bg-variant="light" style="max-width: 540px">
      <h3 align="center">Update this product</h3>
      <b-form
        v-on:submit.prevent="editProduct"
        method="POST"
        label-cols-lg="3"
        label="Sign Up"
        label-size="lg"
        label-class="font-weight-bold pt-0"
        class="mb-0"
      >
        <!-- for name -->
        <b-form-group
          id="input-group-1"
          label="Name of the Product:"
          label-for="input-1"
          description="Enter the Product you want for bidding."
        >
          <b-form-input
            id="input-1"
            v-model="name"
            type="text"
            placeholder="Enter product"
          >
          </b-form-input>
        </b-form-group>

        <!-- for start bid -->
        <b-form-group
          id="input-group-2"
          label="Starting Bid:"
          label-for="input-2"
        >
          <b-form-input
            v-model="startBid"
            type="number"
            placeholder="Enter the starting bid"
          >
          </b-form-input>
        </b-form-group>

        <!-- for bid expire -->
        <b-form-group
          id="input-group-3"
          label="Bidding Expiration Date:"
          label-for="input-3"
        >
          <b-form-input
            v-model="bidExpire"
            type="date"
            value-format="yyyy-MM-dd"
            description="Enter the date of expiration of this bid"
          >
          </b-form-input>
        </b-form-group>

        <!-- for Description -->
        <b-form-group
          id="input-group-5"
          label="Description:"
          label-for="input-5"
        >
          <b-form-textarea
            id="textarea"
            v-model="description"
            placeholder="Enter the description of the product"
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-form-group>
        <b-form-group>
          <b-form-select v-model="status" class="mb-3">
            <b-form-select-option :value="null" disabled
              >Please select status</b-form-select-option
            >
            <b-form-select-option value="In-Progress"
              >In-Progress</b-form-select-option
            >
            <b-form-select-option value="Finish Bidding"
              >Finish Bidding</b-form-select-option
            >
          </b-form-select>
        </b-form-group>
        <b-button style="margin-right: 10px" type="submit" variant="primary"
          >Edit</b-button
        >

        <b-button variant="outline-danger" to="/products">Cancel</b-button>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "EditProduct",
  data() {
    return {
      name: "",
      startBid: "",
      description: "",
      bidExpire: "",
      status: null,
      product: null,
    };
  },
  apollo: {
    // Advanced query with parameters
    // The 'variables' method is watched by vue
    product: {
      query: gql`
        query($id: ID!) {
          product(id: $id) {
            id
            name
            minBid
            startBid
            description
            bidExpire
            status
          }
        }
      `,
      variables() {
        if (this.$route && this.$route.params)
          return {
            id: this.$route.params.id,
          };
      },

      // Optional result hook
      result({ data }) {
        console.log("We got some result!");
        this.name = data.product.name;
        this.startBid = data.product.startBid;
        this.bidExpire = data.product.bidExpire;
        this.description = data.product.description;
        this.status = data.product.status;
      },
      // Error handling
      error(error) {
        console.error("We've got an error!", error);
      },
    },
  },
  methods: {
    editProduct() {
      this.$apollo
        .mutate({
          // Query
          mutation: gql`
            mutation(
              $id: ID!
              $name: String!
              $startBid: String!
              $description: String!
              $bidExpire: String!
              $status: String!
            ) {
              updateProduct(
                id: $id
                status: $status
                name: $name
                startBid: $startBid
                description: $description
                bidExpire: $bidExpire
              ) {
                product {
                  id
                  name
                  startBid
                  description
                  bidExpire
                  status
                }
              }
            }
          `,
          // Parameters
          variables: {
            id: this.$route.params.id,
            name: this.name,
            startBid: this.startBid,
            description: this.description,
            bidExpire: this.bidExpire,
            status: this.status,
          },
        })
        .then((data) => {
          // Result
          this.$notify({
            title: "Update",
            text: "You have successfully updated this product",
            type: "success",
          });
          this.$router.push(`/productsadmin/${this.$route.params.id}`);
          console.log(data);
        })
        .catch((error) => {
          // Error
          this.$notify({
            title: "Update",
            text: "Something went wrong! Please try again",
            type: "error",
          });
          console.error(error);
          // We restore the initial user input
        });
    },
  },
};
</script>

<style scoped>
.center {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
