<template>
  <div class="center">
    <b-card
      img-src="https://picsum.photos/600/300/?image=25"
      img-alt="Image"
      img-top
      tag="article"
      style="max-width: 50rem; min-width: 20rem"
      class="mb-1"
    >
      <template #header>
        <h4 class="mb-0">
          <h1>{{ product.name }}</h1>
        </h4>
      </template>

      <b-list-group flush>
        <b-list-group-item>
          <b-card-text>
            <strong> Description: </strong>
            {{ product.description }}
          </b-card-text>
        </b-list-group-item>
        <b-list-group-item
          ><h6>
            <strong>Starting Bid: </strong>₱ {{ product.startBid }}
          </h6></b-list-group-item
        >

        <b-list-group-item
          ><h6>
            <strong>Bid Before: </strong
            >{{ moment(product.bidExpire).format("YYYY-MM-DD") }}
          </h6></b-list-group-item
        >

        <b-list-group-item
          ><h6>
            <div v-if="product.status === 'In-Progress'">
              <strong>Status: </strong
              ><b-badge variant="warning">{{ product.status }}</b-badge>
            </div>
            <div v-if="product.status === 'Finish Bidding'">
              <strong>Status: </strong
              ><b-badge variant="danger">{{ product.status }}</b-badge>
            </div>
          </h6></b-list-group-item
        >
      </b-list-group>

      <b-card-footer>
        <b-button
          :to="'/createauction/' + product.id"
          style="margin-right: 10px"
          variant="success"
          :disabled="isDisabled"
          v-if="signedInUser() && !isDisabled"
          >Bid</b-button
        >

        <b-button
          :to="'/createauction/' + product.id"
          style="margin-right: 10px"
          variant="outline-secondary"
          :disabled="isDisabled"
          v-if="signedInUser() && isDisabled"
          >Bid</b-button
        >

        <b-button
          :to="this.$route.path + '/edit'"
          style="margin-right: 10px"
          variant="success"
          v-if="signedInAdmin()"
          >Edit</b-button
        >
        <b-button to="/" variant="danger">Go Back</b-button>
        <br /><br />
        <!--<b-form-checkbox v-model="status" name="check-button" switch>
         
        </b-form-checkbox>-->
      </b-card-footer>
    </b-card>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "ProductDetailsAdmin",
  data() {
    return {
      product: [],
    };
  },
  props: ["id"],
  methods: {
    userid() {
      this.$route.params.id;
    },
    signedIn() {
      return localStorage.signedIn;
    },
    signedInUser() {
      return localStorage.admin == "false" && localStorage.signedIn;
    },
    signedInAdmin() {
      return localStorage.admin == "true" && localStorage.signedIn;
    },
  },
  computed: {
    isDisabled() {
      return this.product.status === "Finish Bidding";
    },
  },
  apollo: {
    product: {
      query: gql`
        query($id: ID!) {
          product(id: $id) {
            id
            name
            minBid
            startBid
            description
            bidExpire
            status
          }
        }
      `,
      variables() {
        return {
          id: this.$route.params.id,
          name: this.name,
          minBid: this.minBid,
          startBid: this.startBid,
          description: this.description,
          bidExpire: this.bid,
          status: this.status,
        };
      },
    },
  },
};
</script>

<style scoped>
.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 20px;
}
</style>
