<template>
  <div>
    <!-- carousel -->
    <carousel></carousel>

    <!-- contains -->
    <b-row
      cols="3"
      style="
        max-width: 100rem;
        min-width: 70rem;
        min-height: 20rem;
        margin: 20px;
      "
    >
      <b-col
        v-for="product in products"
        :key="product.id"
        :id="product.id"
        :name="product.name"
        :minBid="product.minBid"
        :startBid="product.startBid"
        :status="product.status"
        :description="product.description"
        :expire="product.bidExpire"
      >
        <b-card
          img-src="https://picsum.photos/600/300/?image=25"
          img-alt="Image"
          img-top
          tag="article"
          style="
            max-width: 70rem;
            min-width: 20rem;
            min-height: 30rem;
            margin: 20px;
          "
          class="mb-2"
        >
          <b-card-text>
            <h1>{{ product.name }}</h1>

            <p><strong>Description: </strong>{{ product.description }}</p>
            <div v-if="product.status === 'In-Progress'">
              <strong>Status: </strong
              ><b-badge variant="warning">{{ product.status }}</b-badge>
            </div>
            <div v-if="product.status === 'Finish Bidding'">
              <strong>Status: </strong
              ><b-badge variant="danger">{{ product.status }}</b-badge>
            </div>
          </b-card-text>

          <b-button
            :to="'/products/' + product.id"
            variant="primary"
            style="margin-right: 10px"
            v-if="signedInUser()"
            >Details</b-button
          >

          <b-button
            :to="'/productsadmin/' + product.id"
            variant="primary"
            style="margin-right: 10px"
            v-if="signedInAdmin()"
            >Details</b-button
          >

          <b-button :to="'/signin'" variant="primary" v-if="!signedIn()"
            >Details</b-button
          >
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "Products",
  computed: {
    productLink() {
      return "/products" + "/" + this.$apolloData.data.products.id;
    },
  },
  data() {
    return {
      products: [],
    };
  },
  apollo: {
    products: gql`
      query {
        products {
          id
          name
          minBid
          startBid
          description
          bidExpire
          status
        }
      }
    `,
  },
  created() {
    this.signedIn();
  },
  methods: {
    signedIn() {
      return localStorage.signedIn;
    },
    signedInUser() {
      return localStorage.admin == "false" && localStorage.signedIn;
    },
    signedInAdmin() {
      return localStorage.admin == "true" && localStorage.signedIn;
    },
  },
};
</script>

<style></style>
