<template>
  <div>
    <the-header></the-header>
    <notifications position="center" />
    <router-view></router-view>
  </div>
</template>

<script>
import TheHeader from "./components/header/TheHeader.vue";
export default {
  components: {
    TheHeader,
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.vue-notification {
  .notification-title {
    // Style for title line
    font-size: 20px;
  }

  .notification-content {
    font-size: 15px;
  }
  padding: 10px;
  margin: 10px 5px 5px;

  font-size: 15px;
  width: 1000%;

  color: #ffffff;
  background: #44a4fc;
  border-left: 5px solid #187fe7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    padding-top: 10px;
    background: #e54d42;
    border-left-color: #b82e24;
    width: 1000px;
    height: 80px;
  }

  &.success {
    padding-top: 10px;
    background: #68cd86;
    border-left-color: #42a85f;
    height: 100px;
  }
}
</style>
